In [2]:
# Установить необходимый пакет для работы с URL
install.packages("readr")

# Загрузить библиотеку
library(readr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [15]:
# Указать URL-адрес файла CSV на GitHub
url <- "https://raw.githubusercontent.com/kindykbayev/KIS/main/lab1/Computers.csv"

In [13]:
Sys.setenv("VROOM_CONNECTION_SIZE" = 1048576)

In [21]:
# Прочитать CSV-файл
data <- read_csv(url)

New names:
• `` -> `...1`
Rows: 6259 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): cd, multi, premium
dbl (8): ...1, price, speed, hd, ram, screen, ads, trend

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [22]:
head(data)

  ...1 price speed hd  ram screen cd multi premium ads trend
1 1    1499  25     80  4  14     no no    yes     94  1
2 2    1795  33     85  2  14     no no    yes     94  1
3 3    1595  25    170  4  15     no no    yes     94  1
4 4    1849  25    170  8  14     no no    no      94  1
5 5    3295  33    340 16  14     no no    yes     94  1
6 6    3695  66    340 16  14     no no    yes     94  1